@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-link {
    @apply
    text-gray-500
    hover:text-gray-800
    transition-all
  }

  .action-link {
    @apply
    border-2
    border-orange-500
    text-orange-500
    p-5
    w-full
    text-2xl
    transition-all
    hover:bg-orange-500
    hover:text-white
    hover:fill-white
    my-2
    flex
    flex-col
    items-center
  }

  .input-group {
    @apply
    flex
    flex-col
    my-3
  }

  .checkbox-group {
    @apply
    flex
    my-3
  }

  .checkbox-group input {
    @apply
    mr-2
    w-4
  }

  .input {
    @apply
    my-2 block px-3 py-2 bg-white border border-slate-300 text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-slate-500 focus:ring-1 focus:ring-slate-500 rounded-lg
  }

  .input-group input {
    @apply
    my-2 block px-3 py-2 bg-white border border-slate-300 text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-slate-500 focus:ring-1 focus:ring-slate-500 rounded-lg
  }

  .input-group select {
    @apply
    my-2 block
     px-3 py-2 bg-white border border-slate-300 text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-slate-500 focus:ring-1 focus:ring-slate-500 rounded-lg
  }

  .track-btn {
    @apply
    text-white
    bg-orange-500
    px-5 py-2
    transition-all
    hover:bg-orange-600
    rounded-lg
  }

  table thead {
    @apply
    border-b
    text-left
  }

  table th {
    @apply
    py-2
  }

  table td {
    @apply
    py-2
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

	.alert {
		@apply fixed z-[6000] top-0 left-0 right-0 bottom-0 bg-gray-300/60 backdrop-blur-sm flex items-center justify-center;
	}

  .modal {
    @apply fixed z-[6000] top-0 left-0 right-0 bottom-0 bg-gray-600 bg-opacity-60 backdrop-blur-sm flex items-center justify-center;
  }

  .red {
    @apply
    text-red-500
  }

  .green {
    @apply
    text-green-600
  }

  .gray {
    @apply
    text-gray-500
  }
}